.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.shape1 {
  position: absolute;
  left: 281.96875px;
  top: 173px;
  width: 773px;
  height: 394px;
  background-color: red;
}

.shape2 {
  position: absolute;
  left: 486.96875px;
  top: 331px;
  width: 100px;
  height: 100px;
  background-color: blue;
}
