.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.shape1 {
  position: absolute;
  left: 325.96875px;
  top: 156px;
  background-color: red;

  width: 627px;
  height: 345px;
}

.shape2 {
  position: absolute;
  left: 521.96875px;
  top: 304px;
  background-color: blue;

  width: 161.44348856488452px;
  height: 161.44348856488452px;
  border-radius: 50%;
}
